@import '../../styles/variables.scss';

.root {
    display: flex;
    justify-content: space-between  ;
    align-items: center;
}

.logo{
    height: 3em;
    width: 6em;
}

.rightBlock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.searchBlock {
    display: flex;
    height: 2em;

    button {
        margin-left: 1rem;
    }

    input {
        outline: none;
        border: none;
    
        background-color: #{$light-grey};
    
        padding: .5em 1em .5em 0;
        border-radius: 0 .5em .5em 0;
    }
    

    .searchBtn{
        border-left:  8px solid #{$light-grey};
        border-right:  8px solid #{$light-grey};

        border-radius: .5em 0 0 .5em;
        background-color: #{$light-grey};
        svg {
            height: 2em;
        }
    }
}